{% extends "layout.html" %}

{% block content %}


      <h1>Edit Page</h1>
<form class="form-horizontal" action="{{url_for('update')}}" method="POST">

  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Rollno:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="rollno" name="rollno" value="{{data[0][1]}}" placeholder="Enter Rollno">
    </div>
  </div>


  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Name:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="name" name="name" value="{{data[0][2]}}" placeholder="Enter Name">
    </div>
  </div>


    <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Email:</label>
    <div class="col-sm-6">
      <input type="email" class="form-control" id="email" name="email" value="{{data[0][3]}}" placeholder="Enter Email">
    </div>
  </div>


      <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Phno:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="phno" name="phno" value="{{data[0][4]}}" placeholder="Enter Phno">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Course:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="course" name="course" value="{{data[0][5]}}" placeholder="Enter Phno">
    </div>
  </div>


<div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Room Num:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="room" name="room" value="{{data[0][6]}}" placeholder="Enter Room No:">
    </div>
  </div>


  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Fee:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="fee" name="fee" value={{data[0][8]}} placeholder="Enter Fee">
    </div>
  </div>


  
   <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" value={{data[0][0]}} name="id">Submit</button>
    </div>
  </div>
</form>

{% endblock %}
  